<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="/fuel_quote/static/css/home/swiper-bundle.min.css">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="/fuel_quote/static/css/home/styles.css">

    <title>Responsive Portfolio Website</title>
</head>

<body style="zoom: 90%;">
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/fuel_quote/fuel_quote_history/{{UID}}" class="nav__logo">Fuel Quote</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="/fuel_quote/fuel_quote_history/{{UID}}" class="nav__link">
                            <i class="uil uil-estate nav__icon"></i>Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/fuel_quote/fuel_quote_form/{{UID}}" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>Book Fuel
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/fuel_quote/client_profile_management/{{UID}}" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>About
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/fuel_quote/logout" class="nav__link">
                            <i class="uil uil-message nav__icon"></i>Logout
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>
            <div class="nav__btns">

                <!-- Theme change button -->

                <i class="uil uil-moon change-theme" id="theme-button1"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== Basic Info ====================-->
        <section class="contact section" id="contact">
            <h2 class="section__title">Basic Information</h2>
            <span class="section__subtitle" style="visibility:hidden">Get in touch</span>

            <div class="contact__container contact__container2 container grid">
                <div class="contact__information-tab-main">
                    <div class="contact__information-tab" style="
                    height: 534px;
                ">
                        <div class="contact__information">
                            <i class="uil uil-user contact__icon"></i>
                            <div>
                                <h3 class="contact__title">UID</h3>
                                <span class="contact__subtitle" id="UID" name="UID">{{UID}}</span>
                            </div>
                        </div>

                        <div class="contact__information">
                            <i class="uil uil-envelope contact__icon"></i>
                            <div>
                                <h3 class="contact__title">Username</h3>
                                <span class="contact__subtitle" id="Username">{{Username}}</span>
                            </div>
                        </div>

                        <div class="contact__information">
                            <i class="uil uil-map-marker contact__icon"></i>
                            <div>

                                <h3 class="contact__title">Email Id</h3>
                                <span class="contact__subtitle" id="Email_Id" name="Email_Id">{{Email_Id}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="" class="contact__form grid">
                    <div class="contact__inputs_4 grid">
                        <div class="contact__content">
                            <label for="First_Name" class="contact__label">Company Name</label>
                            <input type="text" name="First_Name" id="First_Name" value="{{First_Name}}"
                                class="contact__input" required/>
<!--                            <label style="color:red" class="contact__label">required</label>-->
                            <p style="color: red;font-size: 0.75rem;" id="lb_First_Name" class="required_">Company Name Required</p>
                        </div>
                        <!--                        <div class="contact__content">-->
                        <!--                            <label for="Last_Name" class="contact__label">Last Name</label>-->
                        <!--                            <input type="email" id="Last_Name" name="Last_Name" value="{{Last_Name}}" class="contact__input">-->
                        <!--                        </div>-->
                    </div>
                    <div class="contact__content">
                        <label for="Address_1" class="contact__label">Address 1</label>
                        <textarea name="Address_1" id="Address_1" cols="0" rows="2" value=""
                            class="contact__input">{{Address_1}}</textarea>
                        <p style="color: red;font-size: 0.75rem;" id="lb_Address_1" class="required_">Address 1 Required</p>
                    </div>
                    <div class="contact__content">
                        <label for="Address_2" class="contact__label">Address 2</label>
                        <textarea name="Address_2" id="Address_2" cols="0" value="" rows="2"
                            class="contact__input">{{Address_2}}</textarea>
                        <p style="color: red;font-size: 0.75rem;" id="lb_Address_2" class="required_">Address 2 Required</p>
                    </div>
                    <div class="contact__inputs_3 grid">
                        <div class="contact__content">
                            <label for="country" class="contact__label">Country</label>
                            <label id="country_ctn" for="country" hidden>{{country}}</label>
                            <select id="country" class="contact__input">
                                <option>select country</option>
                            </select>
                            <p style="color: red;font-size: 0.75rem;" id="lb_country" class="required_">Country Required</p>
                        </div>
                        <div class="contact__content">
                            <label for="state-code" class="contact__label">State</label>
                            <label id="state_ctn" for="state-code" hidden>{{state_code}}</label>
                            <select id="state-code" class="contact__input">
                                <option>select State</option>
                            </select>
                            <p style="color: red;font-size: 0.75rem;" id="lb_state-code" class="required_">State Required</p>
                        </div>

                        <div class="contact__content">
                            <label for="City_name" class="contact__label">City</label>
                            <input type="text" id="City_name" value="{{City_name}}" name="City_name"
                                class="contact__input" onkeypress="return /[a-zA-Z]/i.test(event.key)">
                            <p style="color: red;font-size: 0.75rem;" id="lb_City_name" class="required_">City Required</p>
                        </div>
                    </div>
                    <div class="contact__inputs grid">
                        <div class="contact__content">
                            <label for="Zip_Code" class="contact__label">Zip Code</label>
                            <input type="text" id="Zip_Code" name="Zip_Code" onkeypress="return /[0-9]/i.test(event.key)" value="{{Zip_Code}}"
                                class="contact__input">
                            <p style="color: red;font-size: 0.75rem;" id="lb_Zip_Code" class="required_">Zip Code Required</p>
                        </div>
                        <div class="contact__content">
                            <label for="Phone_Number" class="contact__label">Phone Number</label>
                            <input type="text" id="Phone_Number" name="Phone_Number" onkeypress="return /[0-9]/i.test(event.key)" value="{{Phone_Number}}"
                                class="contact__input">
                            <p style="color: red;font-size: 0.75rem;" id="lb_Phone_Number" class="required_">Phone Number Required</p>
                        </div>
                    </div>
                    <div>
                        <a onclick="save_details()" class="button button--flex">
                            Save Details
                            <i class="uil uil-save button__icon"></i>
                        </a>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Fuel Quote</h1>
                    <span class="footer__subtitle">A Fuel Booking Portal</span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#services" class="footer__link">Booking</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer__link">Myprofile</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer__link">Contactme</a>
                        <a href="#contact" class="footer__link">0123456789</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <i class="uil uil-facebook-f"></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="https://twitter.com/" target="_blank" class="footer__social">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; Posh. All right reserved</p>
        </div>
    </footer>
    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <script src="/fuel_quote/static/js/login/vendor/jquery-3.3.1.min.js"></script>
    {#
    <script>window.jQuery || document.write('<script src="/fuel_quote/static/js/login/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    #}
    <script src="/fuel_quote/static/js/login/jquery-ui.min.js"></script>
    <script src="/fuel_quote/static/js/login/jquery.ui.touch-punch.min.js"></script>
    <script src="/fuel_quote/static/js/login/bootstrap.bundle.min.js"></script>
    <!--==================== SWIPER JS ====================-->
    <script src="/fuel_quote/static/js/home/swiper-bundle.min.js"></script>

    <!--==================== MAIN JS ====================-->
    <script src="/fuel_quote/static/js/home/main.js"></script>
    <script src="/fuel_quote/static/js/home/country-states.js"></script>
    <script src="/fuel_quote/static/js/home/client_man.js"></script>
    <script>
        let user_country_code = document.getElementById('country_ctn').innerHTML;

        (function () {
            // script https://www.html-code-generator.com/html/drop-down/country-region

            // Get the country name and state name from the imported script.
            let country_list = country_and_states['country'];
            let states_list = country_and_states['states'];

            // creating country name drop-down
            let option = '';
            option += '<option>select country</option>';
            for (let country_code in country_list) {
                // set selected option user country
                let selected = (country_code == user_country_code) ? ' selected' : '';
                option += '<option value="' + country_code + '"' + selected + '>' + country_list[country_code] + '</option>';
            }
            document.getElementById('country').innerHTML = option;

            // creating states name drop-down
            let text_box = '<input type="text" class="input-text" id="state">';
            let state_code_id = document.getElementById("state-code");

            function create_states_dropdown() {
                // get selected country code
                let country_code = document.getElementById("country").value;
                let states = states_list[country_code];
                // invalid country code or no states add textbox
                if (!states) {
                    state_code_id.innerHTML = text_box;
                    return;
                }
                let option = '';
                if (states.length > 0) {
                    option = '<select id="state">\n';
                    for (let i = 0; i < states.length; i++) {
                        option += '<option value="' + states[i].code + '">' + states[i].name + '</option>';
                    }
                    option += '</select>';
                } else {
                    // create input textbox if no states 
                    option = text_box
                }
                state_code_id.innerHTML = option;
            }

            // country select change event
            const country_select = document.getElementById("country");
            country_select.addEventListener('change', create_states_dropdown);

            create_states_dropdown();
        })();

        $(function () {
            var temp2 = document.getElementById('state_ctn').innerHTML;
            document.getElementById('state-code').value = temp2;
        });
    </script>

<script>
    $(document).ready(function(){
      $(document).on("keyup", "#Zip_Code", function() {
      $("#Zip_Code").val($("#Zip_Code").val().replace(/[^0-9\s]/gi, '').replace(/[_\s]/g, '').toLowerCase());
     });

     $(document).on("keyup", "#Phone_Number", function() {
      $("#Phone_Number").val($("#Phone_Number").val().replace(/[^0-9\s]/gi, '').replace(/[_\s]/g, '').toLowerCase());
     });

     $(document).on("keyup", "#City_name", function() {
      $("#City_name").val($("#City_name").val().replace(/[^a-z\s]/gi, '').replace(/[_\s]/g, '').toLowerCase());
     });
    });

</script>
</body>

</html>