<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="/fuel_quote/static/css/home/swiper-bundle.min.css">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="/fuel_quote/static/css/home/bootstrap.css">
    <link rel="stylesheet" href="/fuel_quote/static/css/home/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/fuel_quote/static/css/home/styles.css">

    <title>Responsive Portfolio Website</title>
</head>

<body style="zoom: 90%;">
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/fuel_quote/fuel_quote_history/{{UID}}" class="nav__logo">Fuel Quote</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="/fuel_quote/fuel_quote_history/{{UID}}" class="nav__link">
                            <i class="uil uil-estate nav__icon"></i>Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/fuel_quote/fuel_quote_form/{{UID}}" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>Book Fuel
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/fuel_quote/client_profile_management/{{UID}}" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>About
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/fuel_quote/logout" class="nav__link">
                            <i class="uil uil-message nav__icon"></i>Logout
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>
            <div class="nav__btns">

                <!-- Theme change button -->

                <i class="uil uil-moon change-theme" id="theme-button1"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <section class="project section" id="project_">
        <div class="project__bg">
            <div class="project__container container grid"
                style="width: 1488px !important;max-width: 1600px; height: 367px;">

                <div class="project__data">
                    <h2 class="project__title">Welcome Back {{first_username}}</h2>
                    <p class="project__description">&ldquo; The Fuel Quote portal offers online fuel ordering services
                        to customers, comprising a comprehensive online fuel purchase process inclusive of online order
                        booking, tracking of order, viewing statement of accounts and current balance."
                        &rdquo;
                    </p>
                    <a href="/fuel_quote/fuel_quote_form" class="button button--flex button--white">
                        Book Fuel
                        <i class="uil uil-message project__icon button__icon"></i>
                    </a>
                </div>


                <div class="clock__content grid_1">
                    <div class="clock__circle">
                        <span class="clock__twelve"></span>
                        <span class="clock__three"></span>
                        <span class="clock__six"></span>
                        <span class="clock__nine"></span>

                        <div class="clock__rounder"></div>
                        <div class="clock__hour" id="clock-hour"></div>
                        <div class="clock__minutes" id="clock-minutes"></div>
                        <div class="clock__seconds" id="clock-seconds"></div>

                        <!-- Dark/light button -->
                        <div class="clock__theme">
                            <i class='bx bxs-moon' id="theme-button"></i>
                        </div>
                    </div>

                    <div style="
                    margin-top: -28px;
                    margin-left: -106px;
                    color: #eef3fc;
                ">
                        <div class="clock__text">
                            <div class="clock__text-hour" id="text-hour"></div>
                            <div class="clock__text-minutes" id="text-minutes"></div>
                            <div class="clock__text-ampm" id="text-ampm"></div>
                        </div>

                        <div class="clock__date">
                            <!-- //<span id="date-day-week"></span>  -->
                            <span id="date-day"></span>
                            <span id="date-month"></span>
                            <span id="date-year"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== Fuel Quote ====================-->
        <section class="quote_table section" id="quote_table" style="
        padding: 2rem 0 2rem !important;
    ">
            <!-- <h2 class="section__title">Basic Information</h2>
            <span class="section__subtitle" style="visibility:hidden">Get in touch</span> -->

            <div class="Datatable__quit__container quit__container">
                <div class="container-fluid">
                    <div class="table-card field-anim-13" style="border: 0 !important;">
                        <div class="card-body" style="
                        background-color: var(--input-color);
                        padding: 2rem 1.5rem 4rem;
                        box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
                        border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
                        margin-left: 45px;
                        margin-right: 45px;
                        /* border-radius: 5px; */
                    ">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr style="background:#5689e0">
                                        <th style="width: 179.004px; color: white;">Booking id</th>
                                        <th style="width: 179.004px; color: white;">Fuel type</th>
                                        <th style="width: 179.004px; color: white;">Gallon price</th>
                                        <th style="width: 179.004px; color: white;">Quantity</th>
                                        <th style="width: 179.004px; color: white;">Total amount</th>
                                        <th style="width: 179.004px; color: white;">Ordered date</th>
                                        <th style="width: 179.004px; color: white;">Delivery date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for name in range(count_row) %}
                                    <tr>
                                        <td>{{ main_table[name][0] }}</td>
                                        <td>{{ main_table[name][1] }}</td>
                                        <td>{{ main_table[name][2] }}</td>
                                        <td>{{ main_table[name][3] }}</td>
                                        <td>{{ main_table[name][4] }}</td>
                                        <td>{{ main_table[name][5] }}</td>
                                        <td>{{ main_table[name][6] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Booking id</th>
                                        <th>Fuel type</th>
                                        <th>Gallon price</th>
                                        <th>Quantity</th>
                                        <th>Total amount</th>
                                        <th>Ordered date</th>
                                        <th>Delivery date</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Fuel Quote</h1>
                    <span class="footer__subtitle">A Fuel Booking Portal</span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#services" class="footer__link">Booking</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer__link">Myprofile</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer__link">Contactme</a>
                        <a href="#contact" class="footer__link">0123456789</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <i class="uil uil-facebook-f"></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="https://twitter.com/" target="_blank" class="footer__social">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; Posh. All right reserved</p>
        </div>
    </footer>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!--==================== SWIPER JS ====================-->
    <script src="/fuel_quote/static/js/home/swiper-bundle.min.js"></script>

    <!--==================== MAIN JS ====================-->

    <script src="/fuel_quote/static/js/home/jquery-3.5.1.js"></script>
    <script src="/fuel_quote/static/js/home/jquery.dataTables.min.js"></script>
    <script src="/fuel_quote/static/js/home/dataTables.bootstrap4.min.js"></script>

    <script src="/fuel_quote/static/js/home/main.js"></script>
    <script src="/fuel_quote/static/js/home/country-states.js"></script>
    <script>

        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    <script>
        /*==================== CLOCK ====================*/
        const hour = document.getElementById('clock-hour'),
            minutes = document.getElementById('clock-minutes'),
            seconds = document.getElementById('clock-seconds')

        const clock = () => {
            let date = new Date()

            let hh = date.getHours() * 30,
                mm = date.getMinutes() * 6,
                ss = date.getSeconds() * 6

            // We add a rotation to the elements
            hour.style.transform = `rotateZ(${hh + mm / 12}deg)`
            minutes.style.transform = `rotateZ(${mm}deg)`
            seconds.style.transform = `rotateZ(${ss}deg)`
        }
        setInterval(clock, 1000) // 1000 = 1s

        /*==================== CLOCK & DATE TEXT ====================*/
        const textHour = document.getElementById('text-hour'),
            textMinutes = document.getElementById('text-minutes'),
            textAmPm = document.getElementById('text-ampm'),
            //   dateWeek = document.getElementById('date-day-week'),
            dateDay = document.getElementById('date-day'),
            dateMonth = document.getElementById('date-month'),
            dateYear = document.getElementById('date-year')

        const clockText = () => {
            let date = new Date()

            let hh = date.getHours(),
                ampm,
                mm = date.getMinutes(),
                day = date.getDate(),
                // dayweek = date.getDay(),
                month = date.getMonth(),
                year = date.getFullYear()

            // We change the hours from 24 to 12 hours and establish whether it is AM or PM
            if (hh >= 12) {
                hh = hh - 12
                ampm = 'PM'
            } else {
                ampm = 'AM'
            }

            // We detect when it's 0 AM and transform to 12 AM
            if (hh == 0) { hh = 12 }

            // Show a zero before hours
            if (hh < 10) { hh = `0${hh}` }

            // Show time
            textHour.innerHTML = `${hh}:`

            // Show a zero before the minutes
            if (mm < 10) { mm = `0${mm}` }

            // Show minutes
            textMinutes.innerHTML = mm

            // Show am or pm
            textAmPm.innerHTML = ampm

            // If you want to show the name of the day of the week
            // let week = ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat']

            // We get the months of the year and show it
            let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

            // We show the day, the month and the year
            dateDay.innerHTML = day
            // dateWeek.innerHTML = `${week[dayweek]}`
            dateMonth.innerHTML = `${months[month]},`
            dateYear.innerHTML = year
        }
        setInterval(clockText, 1000) // 1000 = 1s
    </script>
</body>

</html>