<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="/fuel_quote/static/css/home/swiper-bundle.min.css">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="/fuel_quote/static/css/home/styles.css">

    <title>Responsive Portfolio Website</title>
</head>.0l

<body style="zoom: 90%;">
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/fuel_quote/fuel_quote_history/{{UID}}" class="nav__logo">Fuel Quote</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="/fuel_quote/fuel_quote_history/{{UID}}" class="nav__link">
                            <i class="uil uil-estate nav__icon"></i>Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/fuel_quote/fuel_quote_form/{{UID}}" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>Book Fuel
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/fuel_quote/client_profile_management/{{UID}}" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>About
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/fuel_quote/logout" class="nav__link">
                            <i class="uil uil-message nav__icon"></i>Logout
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>
            <div class="nav__btns">

                <!-- Theme change button -->

                <i class="uil uil-moon change-theme" id="theme-button1"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== CONTACT ME ====================-->
        <section class="contact section section1" id="contact">
            <h2 class="section__title">Fuel Quote</h2>
            <span class="section__subtitle" style="visibility:hidden">Get in touch</span>

            <div class="contact__container container grid">

                <form action="" class="contact__form grid">
                    <div class="contact__inputs grid">
                        <div class="contact__content">
                            <label for="user_id" class="contact__label">ID</label>
                            <input type="text" id="user_id" name="user_id" value="{{id}}" class="contact__input"
                                required disabled>
                        </div>
                        <div class="contact__content">
                            <label for="office_name" class="contact__label">Office Name</label>
                            <input type="text" id="office_name" value="{{Office_Name}}" name="office_name"
                                class="contact__input" disabled>
                        </div>
                    </div>

                    <div class="contact__inputs grid">
                        <div class="contact__content">
                            <label for="quantity_quote" class="contact__label">
                                Quantity</label>
                            <input type="text" id="quantity_quote" name="quantity_quote" onkeypress="return /[0-9]/i.test(event.key)" class="contact__input"
                            onchange="checking()">
                            <p style="color: red;font-size: 0.75rem;" id="lb_quantity_quote" class="required_">Quantity Required</p>
                        </div>
                        <div class="contact__content">
                            <label for="fuel_type" class="contact__label">Fuel type</label>
                            <input type="text" id="fuel_type" value="Diesel" name="fuel_type"
                                class="contact__input"  disabled>
<!--                            <select name="fuel_type" id="fuel_type" class="contact__input">-->
<!--                                <option value="None">&#45;&#45;Select&#45;&#45;</option>-->
<!--                                <option value="Gasoline">Gasoline</option>-->
<!--                                <option value="Diesel">Diesel</option>-->
<!--                                &lt;!&ndash; <option value="java">EUR</option> &ndash;&gt;-->
<!--                            </select>-->
                            <p style="color: red;font-size: 0.75rem;" id="lb_fuel_type" class="required_">Fuel type Required</p>
                        </div>
                    </div>
                    <div class="contact__content">
                        <label for="" class="contact__label">Delivery Address</label>
                        <textarea name="" id="" cols="0" rows="2" class="contact__input"
                            disabled>{{delivery_address}}</textarea>
                    </div>
                    <div class="contact__inputs_3 grid">
                        <div class="contact__content">
                            <label for="" class="contact__label">Country</label>
                            <label id="country_ctn" for="country" hidden>{{Country}}</label>
                            <select id="country" class="contact__input" disabled>
                                <option>select country</option>
                            </select>
                        </div>
                        <div class="contact__content">
                            <label for="" class="contact__label">State</label>
                            <label id="state_ctn" for="state-code" hidden>{{state}}</label>
                            <!-- <input type="text" class="contact__input"> -->
                            <select id="state-code" class="contact__input" disabled>
                                <option>select State</option>
                            </select>
                        </div>

                        <div class="contact__content">
                            <label for="City" class="contact__label">City</label>
                            <input type="text" id="City" value="{{city}}" name="City" class="contact__input" disabled>
                        </div>
                    </div>
                    <div class="contact__inputs grid">
                        <div class="contact__content">
                            <label for="Zip_Code" class="contact__label">Zip Code</label>
                            <input type="text" id="Zip_Code" value="{{zipcode}}" name="Zip_Code" maxlength="9" minlength="5" class="contact__input"
                                disabled>
                        </div>
                        <div class="contact__content">
                            <label for="bdate" class="contact__label">Delivery Date</label>
                            <input type=text name="bdate" id="bdate" class="datepicker contact__input" onchange="checking()" required>
                            <p style="color: red;font-size: 0.75rem;" id="lb_bdate" class="required_">Delivery Date Required</p>
                        </div>
                    </div>
                    <div class="contact__inputs grid">
                        <div class="contact__content">
                            <label for="contact_gmail" class="contact__label">Gmail</label>
                            <input type="email" id="contact_gmail" name="contact_gmail" value="{{email_id}}"
                                class="contact__input" disabled>
                        </div>
                        <div class="contact__content">
                            <label for="telNo" class="contact__label">Phone Number</label>
                            <!-- <input id="telNo" name="telNo" class="contact__input" type="tel" required
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                            <span class="validity"></span> -->
                            <input type="text" id="telNo" name="telNo" value="{{mobile_number}}" maxlength="10" minlength="10" class="contact__input"
                                disabled>
                        </div>
                    </div>

                    <div style="margin-left: 163px;">
                        <button type="button" class="button button--flex" id="Get_Quote_id" onclick="Get_Quote()" style="margin-right: 50px;">Get Quote
                            <i class="uil uil-processor button__icon"></i>
                        </button>

                        <button type="button" class="button button--flex" id="order_fuel_id" onclick="order_fuel()">Save Details
                            <i class="uil uil-save button__icon"></i>
                        </button>
<!--                        <a onclick="Get_Quote()" id="Get_Quote_id" class="button button&#45;&#45;flex">-->
<!--                            Get Quote-->
<!--                            <i class="uil uil-save button__icon"></i>-->
<!--                        </a>-->
<!--                        <a onclick="order_fuel()" id="order_fuel_id" class="button button&#45;&#45;flex">-->
<!--                            Save Details-->
<!--                            <i class="uil uil-save button__icon"></i>-->
<!--                        </a>-->
                    </div>
                    <div>

                    </div>

                </form>
                <div class="contact__information-tab-main">
                    <div class="contact__information-tab">
                        <div class="contact__information">
                            <i class="uil uil-usd-circle contact__icon"></i>
                            <div>
                                <h3 class=" contact__subtitle">Gallon price</h3>
                                <span class="contact__title" id="Gallon_price">1.50</span>
                            </div>
                        </div>

                        <div class="contact__information">
                            <i class="uil uil-x contact__icon"></i>
                            <div>
                                <h3 class="contact__subtitle">Margin</h3>
                                <span class="contact__title" id="Margin_price">0.00</span>
                            </div>
                        </div>

<!--                        <div class="contact__information">-->
<!--                            <i class="uil uil-receipt contact__icon"></i>-->
<!--                            <div>-->
<!--                                <h3 class="contact__subtitle">Tax</h3>-->
<!--                                <span class="contact__title">Tax :@14%</span>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="contact__information">
                            <i class="uil uil-bill contact__icon"></i>
                            <div>
                                <h3 class="contact__subtitle">Suggested Price/Gallon</h3>
                                <span class="contact__title" id="grand_total">00.00</span>
                            </div>
                        </div>
                        <div class="contact__information">
                            <i class="uil uil-transaction contact__icon"></i>
                            <div>
                                <h3 class="contact__subtitle">Total Amount Due</h3>
                                <span class="contact__title" id="Total_Amount_Due">00.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer footer1">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Fuel Quote</h1>
                    <span class="footer__subtitle">A Fuel Booking Portal</span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#services" class="footer__link">Booking</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer__link">Myprofile</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer__link">Contactme</a>
                        <a href="#contact" class="footer__link">0123456789</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <i class="uil uil-facebook-f"></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="https://twitter.com/" target="_blank" class="footer__social">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; Posh. All right reserved</p>
        </div>
    </footer>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!--==================== SWIPER JS ====================-->
    <script src="/fuel_quote/static/js/home/swiper-bundle.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <!--==================== MAIN JS ====================-->
    <script src="/fuel_quote/static/js/home/main.js"></script>
    <script src="/fuel_quote/static/js/home/country-states.js"></script>
    <script src="/fuel_quote/static/js/home/client_man.js"></script>
    <script>
        let user_country_code = document.getElementById('country_ctn').innerHTML;

        (function () {
            let country_list = country_and_states['country'];
            let states_list = country_and_states['states'];

            // creating country name drop-down
            let option = '';
            option += '<option>select country</option>';
            for (let country_code in country_list) {
                // set selected option user country
                let selected = (country_code == user_country_code) ? ' selected' : '';
                option += '<option value="' + country_code + '"' + selected + '>' + country_list[country_code] + '</option>';
            }
            document.getElementById('country').innerHTML = option;

            // creating states name drop-down
            let text_box = '<input type="text" class="input-text" id="state">';
            let state_code_id = document.getElementById("state-code");

            function create_states_dropdown() {
                // get selected country code
                let country_code = document.getElementById("country").value;
                let states = states_list[country_code];
                // invalid country code or no states add textbox
                if (!states) {
                    state_code_id.innerHTML = text_box;
                    return;
                }
                let option = '';
                if (states.length > 0) {
                    option = '<select id="state">\n';
                    for (let i = 0; i < states.length; i++) {
                        option += '<option value="' + states[i].code + '">' + states[i].name + '</option>';
                    }
                    option += '</select>';
                } else {
                    // create input textbox if no states 
                    option = text_box
                }
                state_code_id.innerHTML = option;
            }

            // country select change event
            const country_select = document.getElementById("country");
            country_select.addEventListener('change', create_states_dropdown);

            create_states_dropdown();
        })();

        var currYear = (new Date()).getFullYear();

        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd",timeFormat: "hh:mm:ss"
            });
        });

        $(function () {
            var temp2 = document.getElementById('state_ctn').innerHTML;
            document.getElementById('state-code').value = temp2;
        });
    </script>
<script>
    $(document).ready(function(){
      $(document).on("keyup", "#quantity_quote", function() {
      $("#quantity_quote").val($("#quantity_quote").val().replace(/[^0-9\s]/gi, '').replace(/[_\s]/g, '').toLowerCase());
     });
    });
</script>

<script>
window.addEventListener('load', (event) => {
   document.getElementById("order_fuel_id").disabled = true;
   document.getElementById("Get_Quote_id").disabled = true;
});
</script>
</body>

</html>